
.container {
	flex-wrap: wrap;
	display: flex;
	justify-content: center;
	border: 2px solid white;
	margin-top: 20px;
	padding-top: 30px;
	border: 1px solid grey;
}

body {
	background-image: url(backgroundimage2.jpeg);
	background-size: cover;
	justify-content: center;
	color: white;
}

.jumbotron {
	background-position: center;
	background-color: coral;
	color: blue;
	border: 3px solid navy;
}

.carousel-item {
	display: flex;
	justify-content: center;
	border: 1px solid yellow;

}

h3 {
	color: white;
	background-color: blue;
}

.col {
	background-color: purple;
	border: 2px solid navy;
}